<div class = "container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
             <li>Add an input field which updates a property (username) via 2-way binding</li>
             <li>Output the username property via string interpolation below the input</li>
             <li>Add a button which may only be clicked if the username is not an empty string</li>
             <li>Upon clicking the button, the username should be reset to an empty string</li>
             </ol>
             <hr>
            <label>2-way binding demo - User name:</label>
            <input
                type="text" 
                class="form-control"
            [(ngModel)] = "userName">
               
            <p><label>Here is the username: {{userName}}</label></p>
            <button class="btn btn-primary"
             [disabled]="userName === '' "
             (click) = "userName = ''">Reset User</button>
             
        </div>
    </div>
 
</div>
